{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}
{% load crispy_forms_tags %}
{% block title %}{% endblock %}
{% block main %}


<div class="row">
<div class="col-md-6 col-md-offset-3">

<div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Restarar Senha</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form method="POST" >
            {% csrf_token %} 
              <div class="box-body">
              <div class="form-group">
                <fieldset class="form-group">
                  {{ form|crispy }}
                  </fieldset>
                  </div>
                


              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <button type="submit" class="btn btn-info pull-right">Resetar Password</button>
              </div>
              <!-- /.box-footer -->
            </form>
          </div>
          

          </div>
          </div>


{% endblock %}