{% load static %}

<!DOCTYPE html>
<html lang="br">
<head>
{% block title %} <title>LaundrIT</title> {% endblock %}
{% include 'parciais/_head.html' %}
</head>

<body class="hold-transition skin-blue sidebar-minifixed">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="{% url 'inicial' %}" class="logo">
                <img src=" {% static 'img\logo.png' %} " alt="" style="width: 150px; height: 60px;">
            </a>

            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Alternar Navegação</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu">
                            <!-- Menu toggle button -->
                        </li>
                        <!-- /.messages-menu -->

                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!-- The user image in the navbar-->
                            </a>
                        </li>
                        <!-- Control Sidebar Toggle Button -->

                        <li>
                            <a href="{% url 'my_logout' %}" ><i class="fa fa-power-off"></i></a>
                        </li>

                    </ul>
                </div>
            </nav>
        </header>

       
      <aside class="main-sidebar">

            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">

            {% block sidebar %}
            
                <!-- /.sidebar-menu -->
                {% endblock %}
            </section>
            <!-- /.sidebar -->
        </aside>

 <div class="content-wrapper">
      <section class="content container-fluid">
      {% block main %} {% endblock %}
      </section>

            </div>

    {% include 'parciais/_footer.html' %}
    
        </div>

    {% include 'parciais/_scripts.html' %}

</body>

<script src="{% static 'bower_components\jquery-ui\jquery-ui.min.js' %}"></script>
<script src="{% static 'bower_components\jquery\dist\jquery.min.js' %}"></script>

  
  <script>
  var html = '<tr role="row" class="even"><td class="table-info"> <input type="number" name="quantidade" class="form-control" min="0" id="items_quantidade"> </td><td class="table-info"><select class="form-control" name="nome_servico" id="nome_servico"><option value>---------------------------------------</option>{% for servico in servico %}<option id="nome_servico">{{ servico.nome_servico }}</option>{% endfor %}</select></div></td><td class="table-info"> \
     <select class="form-control" name="nome_peca" id="nome_peca"><option value>---------------------------------------</option>{% for roupas in roupas %}<option id="nome_peca" name="nome_peca">{{ roupas.nome_peca }}</option>{% endfor %}</select></div></td><td class="table-info">R$ {{ item.preco_unitario }}</td><td class="table-info"><a href="#" class="btn btn-danger btn-sm" id="remove">Excluir</a></td></tr>';

  $(function(){
    $('#addrow').click(function(){
        $('tbody').append(html);
    });

    $(document).on('click', '#remove', function() {
        $(this).parents('tr').remove();
    })

  });
  </script>

</html>