{% load static %}

<!DOCTYPE html>
<html lang="br">
<head>
{% block title %} <title>LaundrIT</title> {% endblock %}
{% include 'parciais/_head.html' %}
</head>

<body class="hold-transition skin-blue sidebar-minifixed">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="{% url 'inicial' %}" class="logo">
                <img src=" {% static 'img\logo.png' %} " alt="" style="width: 150px; height: 60px;">
            </a>

            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Alternar Navegação</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu">
                            <!-- Menu toggle button -->
                        </li>
                        <!-- /.messages-menu -->

                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!-- The user image in the navbar-->
                            </a>
                        </li>
                        <!-- Control Sidebar Toggle Button -->

                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa fa fa-gears"></i></a>
                        </li>

                    </ul>
                </div>
            </nav>
        </header>

       
      <aside class="main-sidebar">

            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">

            {% block sidebar %}
            
                <!-- /.sidebar-menu -->
                {% endblock %}
            </section>
            <!-- /.sidebar -->
        </aside>

 <div class="content-wrapper">
      <section class="content container-fluid">
      {% block main %} {% endblock %}
      </section>

            </div>

    {% include 'parciais/_footer.html' %}
    
        </div>

    {% include 'parciais/_scripts.html' %}

</body>
</html>