{% extends 'base_logado.html' %}
{% load static %}
{% load bootstrap %}
{% block title %}  {% endblock %}
{% block sidebar %}
<!-- Sidebar user panel (optional) -->
                {% if not user.is_superuser %}
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src=" {% static 'img\usuario_teste.jpg' %} " class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                    <br>
                        <p>{{user.cliente.nome_cliente}}</p>
                        <!-- Status -->
                    </div>
                </div>
                {% else %}
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src=" {% static 'img\usuario_teste.jpg' %} " class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                    <br>
                        <p style="font-size: 12px;">{{user.first_name}}</p>
                        <!-- Status -->
                    </div>
                </div>
                {% endif %}

                <!-- search form (Optional) -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Buscar...">
                        <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
              </button>
            </span>
                    </div>
                </form>
                <!-- /.search form -->
                {% if user.is_superuser %}
  <ul class="sidebar-menu" data-widget="tree">
          <li><a href="{% url 'inicial' %}"><i class="fa  fa-desktop"></i> <span>CADASTROS</span></a></li>
          <li><a href="{% url 'pedidos_admin' %}"><i class="fa fa-cart-plus"></i> <span>PEDIDOS</span></a></li>
          <li><a href="{% url 'historico_admin' %}"><i class="fa fa-file-text-o"></i> <span>HISTÓRICO</span></a></li>
          <li><a href="{% url 'status_admin' %}"><i class="fa fa-exchange"></i> <span>STATUS</span></a></li>
          <li class="active"><a href="{% url 'suporte_admin'%}"><i class="fa fa-user"></i> <span>SUPORTE</span></a></li>
      </ul>
      {% else %}
        <ul class="sidebar-menu" data-widget="tree">
          <li><a href="{% url 'inicial' %}"><i class="fa fa-bar-chart"></i> <span>DASHBOARD</span></a></li>
          <li><a href="{% url 'pedidos_usuario' %}"><i class="fa fa-cart-plus"></i> <span>PEDIDOS</span></a></li>
          <li><a href="{% url 'historico_usuario' %}"><i class="fa fa-file-text-o"></i> <span>HISTÓRICO</span></a></li>
          <li><a href="{% url 'status_usuario' %}"><i class="fa fa-exchange"></i> <span>STATUS</span></a></li>
          <li class="active"><a href="{% url 'suporte_usuario' %}"><i class="fa fa-user"></i> <span>SUPORTE</span></a></li>
      </ul>
      {% endif %}

{% endblock %}
{% block main %}

<br>
<div class="row">
<div class="col-md-9 col-md-offset-1">
<div class="box box-primary">
  {% include 'parciais/_messages.html' %}
            <div class="box-header with-border">
              <h3 class="box-title">Responder Cliente</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
            <form method="POST" enctype="multipart/form-data" action="{% url 'responder_suporte' suporte.id %}">
            {% csrf_token %} {{ form.errors }}
                <!-- textarea -->
                <div class="col-md-4">
                <div class="form-group">
                <label>Usuário : </label>

                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-user"></i>
                  </div>
                  <input type="text" class="form-control" id="id_nome_cliente" name="nome_cliente" value="{{ suporte.nome_cliente }}"  readonly>
                </div>
                <!-- /.input group -->
              </div>
              <!-- /.form group -->
              </div>


              <div class="col-md-4">
              <div class="form-group">
                <label>E-mail do Cliente : </label>

                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-envelope-o"></i>
                  </div>
                  <input type="email" class="form-control" id="id_email" name="email" value="{{ suporte.email }}" readonly>
                </div>
                <!-- /.input group -->
              </div>
              <!-- /.form group -->
              </div>

              <div class="col-md-4">  
              <div class="form-group">
                <label>CPF do Cliente : </label>

                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-list-alt"></i>
                  </div>
                  <input type="text" class="form-control" id="id_cpf" name="cpf" value="{{ suporte.cpf }}" readonly>
                </div>
                <!-- /.input group -->
              </div>
              <!-- /.form group -->
              </div>
                <div class="col-md-12">
                <div class="form-group">
                <label> Messagem do Cliente : </label>
                <textarea  id="id_mensagem" name="mensagem"  class="form-control" rows="3" style="resize: none;" value="{{ suporte.mensagem }}" style="resize: none;" readonly>{{ suporte.mensagem }}</textarea>
                </div>
                </div>

                <div class="col-md-12">
                <div class="form-group">
                <textarea class="form-control" rows="3" id="id_resposta" name='resposta' placeholder="Digite sua resposta aqui..." style="resize: none;" value="{{ suporte.resposta }}"> {{ suporte.resposta }}</textarea>
                </div>
                </div>

            </div>
            <!-- /.box-body -->
            <div class="box-footer">
            <div class="pull-right">
                    <button type="submit" value="submit" class="btn btn-primary">Enviar Resposta</button>
                    <a class="btn btn-warning" href="{% url 'suporte_admin' %}" role="button">Voltar</a>
            </div>
            </form>
                </div>
          </div>
          </div>
          </div>


{% endblock %}