{% extends 'base_logado.html' %}
{% load static %}
{% load bootstrap %}
{% block title %}  {% endblock %}
{% block sidebar %}
<!-- Sidebar user panel (optional) -->
                {% if not user.is_superuser %}
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src=" {% static 'img\usuario_teste.jpg' %} " class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                    <br>
                        <p>{{user.cliente.nome_cliente}}</p>
                        <!-- Status -->
                    </div>
                </div>
                {% else %}
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src=" {% static 'img\usuario_teste.jpg' %} " class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                    <br>
                        <p style="font-size: 12px;">{{user.first_name}}</p>
                        <!-- Status -->
                    </div>
                </div>
                {% endif %}

                <!-- search form (Optional) -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Buscar...">
                        <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
              </button>
            </span>
                    </div>
                </form>
                <!-- /.search form -->
                {% if user.is_superuser %}
  <ul class="sidebar-menu" data-widget="tree">
          <li><a href="{% url 'inicial' %}"><i class="fa  fa-desktop"></i> <span>CADASTROS</span></a></li>
          <li><a href="{% url 'pedidos_admin' %}"><i class="fa fa-cart-plus"></i> <span>PEDIDOS</span></a></li>
          <li><a href="{% url 'historico_admin' %}"><i class="fa fa-file-text-o"></i> <span>HISTÓRICO</span></a></li>
          <li><a href="{% url 'status_admin' %}"><i class="fa fa-exchange"></i> <span>STATUS</span></a></li>
          <li class="active"><a href="{% url 'suporte_admin'%}"><i class="fa fa-user"></i> <span>SUPORTE</span></a></li>
      </ul>
      {% else %}
        <ul class="sidebar-menu" data-widget="tree">
          <li><a href="{% url 'inicial' %}"><i class="fa fa-bar-chart"></i> <span>DASHBOARD</span></a></li>
          <li><a href="{% url 'pedidos_usuario' %}"><i class="fa fa-cart-plus"></i> <span>PEDIDOS</span></a></li>
          <li><a href="{% url 'historico_usuario' %}"><i class="fa fa-file-text-o"></i> <span>HISTÓRICO</span></a></li>
          <li><a href="{% url 'status_usuario' %}"><i class="fa fa-exchange"></i> <span>STATUS</span></a></li>
          <li class="active"><a href="{% url 'suporte_usuario' %}"><i class="fa fa-user"></i> <span>SUPORTE</span></a></li>
      </ul>
      {% endif %}

{% endblock %}
{% block main %}

<div class="row">
<div class="col-md-12">
          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">F.A.Q Perguntas Frequêntes</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="box-group" id="accordion">
                <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                <div class="panel box box-primary">
                  <div class="box-header with-border">
                    <h4 class="box-title">
                      <a  style="color: black;" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" class="collapsed">
                        1 - Prazo Mínimo de Recebimento.
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="box-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                      wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                      eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                      nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                      farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                      labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="panel box box-primary">
                  <div class="box-header with-border">
                    <h4 class="box-title">
                      <a style="color: black;" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed" aria-expanded="false">
                        2 - Prazo Mínimo de Recebimento.
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="box-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                      wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                      eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                      nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                      farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                      labore sustainable VHS.
                    </div>
                  </div>
                </div>
                <div class="panel box box-primary">
                  <div class="box-header with-border">
                    <h4 class="box-title">
                      <a style="color: black;" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed" aria-expanded="false">
                       3 - Prazo Mínimo de Recebimento.
                      </a>
                    </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="box-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                      wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                      eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                      nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                      farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                      labore sustainable VHS.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
</div>

<div class="row">

<div class="col-md-12 offset-md-4">

<div class="box box-primary">
            <div class="box-header">
              <h3 class="box-title">Deixe uma Mensagem</h3>
              <form method="POST" enctype="multipart/form-data" action="{% url 'suporte_usuario' %}">
            {% csrf_token %} {{ form.errors }}
            </div>
            <div class="box-body">
              <!-- Date -->
              <div class="col-md-6">
              <div class="form-group">
                <label>E-mail : </label>

                <div class="input-group date">
                  <div class="input-group-addon">
                    <i class="fa fa-envelope"></i>
                  </div>
                  <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                </div>
                <!-- /.input group -->
              </div>
              <!-- /.form group -->
              </div>
              <!-- ./col-md-4 -->


              <!-- Date range -->
              <div class="col-md-3">
              <div class="form-group">
                <label>Nome do Cliente : </label>

                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-user"></i>
                  </div>
                  <input type="text" id="nome_cliente" value="{{user.cliente.nome_cliente}}" name="nome_cliente" class="form-control pull-right" disabled>{{user.cliente.nome_cliente}}
                </div>
                <!-- /.input group -->
              </div>
              <!-- /.form group -->
              </div>

              <!-- Date range -->
              <div class="col-md-3">
              <div class="form-group">
                <label>CPF do Cliente: </label>

                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-cc-jcb"></i>
                  </div>
                  <input type="text" id="cpf" name="cpf" value="{{ user.cliente.cpf }}" class="form-control pull-right" disabled>{{ user.cliente.cpf }}
                </div>
                <!-- /.input group -->
              </div>
              <!-- /.form group -->
              </div>


              <!-- Date and time range -->
              <div class="col-md-12">
              <div class="form-group">
                  <textarea class="form-control" id="mensagem" name="mensagem" rows="5" placeholder="Deixe uma mensagem aqui..." spellcheck="false"></textarea>
                </div>
              </div>

            </div>
            <!-- /.box-body -->
            <div class="box-footer">
            <div class="pull-right">
                    <button type="submit" value="submit" class="btn btn-primary">Enviar Comentário</button>
                    <a class="btn btn-warning" href="{% url 'inicial' %}" role="button">Voltar</a>
            </div>
                </div>
          </div>

</div>
</div>




{% endblock %}